body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

header button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    background-color: #222;
    padding: 10px 0;
}

.score-section {
    text-align: center;
    margin: 20px 0;
}

.main-button {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
}

.task button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
